<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>Users Registration</title>
</head>
<body>
    <div>
        <div class="column">
            <h1>Register</h1>
            {% with errors = get_flashed_messages(category_filter=["registration"]) %}
                {% if errors %}
                    {% for message in errors %}
                        <p >{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/register" method="post">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <label for="pwconfirm">Confirm Password</label>
                <input type="password" name="pwconfirm">
                <input type="submit">
            </form>
        </div>
        <div class="column">
            <h1>Login</h1>
            {% with errors = get_flashed_messages(category_filter=["login"]) %}
                {% if errors %}
                    {% for message in errors %}
                        <p >{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="password" name="password">Password:</label>
                <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>